<%- include("./partials/header.ejs") %>
<link rel="stylesheet" type="text/css" href="/css/home.css">
<div>
    <div class="background-image" style="background-image: url(https://mocah.org/uploads/posts/376596-4k-wallpaper.jpg);"></div>
    <div class="cen">
        <section class="hero">
            <div class="slide">
                <h1>Welcome <span id="text1">Coders</span></h1>
                <h3>Practice coding, prepare for interviews, and get hired.</h3>
                <a href="/profile" id="btn1">Get Started</a>
            </div>
        </section>
    </div>
</div>
<%- include("./partials/footer.ejs") %>